:root {
 
    
    --text-default: #161616;
    --link-neutral: #384250;
    --colors-base-white: #ffffff;
    --colors-base-black: #000000;
    --colors-alpha-white: 0deg 0% 100%;
    --colors-alpha-black: 0deg 0% 0%;
 
 
    /* Text size */
    --display-2xl:4.5rem;
    --display-xl:3.75rem;
    --display-lg:3rem;
    --display-md:2.25rem;
    --display-sm:1.875rem;
    --display-xs:1.5rem;
    --text-xl:1.25rem;
    --text-lg:1.125rem;
    --text-md:1rem;
    --text-sm:0.875rem;
    --text-xs:0.75rem;
    --text-2xs:0.75rem;
 
    /* font weight */
    --regular:400;
    --medium:500;
    --semibold:600;
    --bold:700;

    /* Neutral Colors - gray*/
    --colors-gray-25: #fcfcfd;
    --colors-gray-50: #f9fafb;
    --colors-gray-100: #F3F4F6;
    --colors-gray-200: #E5E7EB;
    --colors-gray-300: #D2D6DB;
    --colors-gray-400: #9DA4AE; /* link disabled */
    --colors-gray-500: #6C737F;
    --colors-gray-600: #4D5761;
    --colors-gray-700: #384250;
    --colors-gray-800: #1F2A37;
    --colors-gray-900: #111927;
    --colors-gray-950: #0D121C; 
 
      /* Primary Colors - green*/
    --colors-brand-25: #f7fdf9;
    --colors-brand-50: #f3fcf6;
    --colors-brand-100: #dff6e7;
    --colors-brand-200: #b8eacb;
    --colors-brand-300: #88d8ad; /* link pressed*/
    --colors-brand-400: #54c08a; /* link hover */
    --colors-brand-500: #25935f;
    --colors-brand-600: #1b8354; /* link primary + link focus */
    --colors-brand-700: #166a45;
    --colors-brand-800: #14573a; /* link visited */
    --colors-brand-900: #104631;
    --colors-brand-950: #092a1e;
 
 
    /* Error Colors - red*/
    --colors-error-25: #fffbfa;
    --colors-error-50: #fef3f2;
    --colors-error-100: #fee4e2;
    --colors-error-200: #fecdca;
    --colors-error-300: #fda29b;
    --colors-error-400: #f97066;
    --colors-error-500: #f04438;
    --colors-error-600: #d92d20;
    --colors-error-700: #b42318;
    --colors-error-800: #912018;
    --colors-error-900: #7a271a;
    --colors-error-950: #55160c;

    /* Warning Colors*/
    --colors-warning-25: #fffcf5;
    --colors-warning-50: #fffaeb;
    --colors-warning-100: #fef0c7;
    --colors-warning-200: #fedf89;
    --colors-warning-300: #fec84b;
    --colors-warning-400: #fdb022;
    --colors-warning-500: #f79009;
    --colors-warning-600: #dc6803;
    --colors-warning-700: #b54708;
    --colors-warning-800: #93370d;
    --colors-warning-900: #7a2e0e;
    --colors-warning-950: #4e1d09;
 
     /* Info Colors*/   
    --colors-info-25: #f5faff;
    --colors-info-50: #eff8ff;
    --colors-info-100: #d1e9ff;
    --colors-info-200: #b2ddff;
    --colors-info-300: #84caff;
    --colors-info-400: #53b1fd;
    --colors-info-500: #2e90fa;
    --colors-info-600: #1570ef;
    --colors-info-700: #175cd3;
    --colors-info-800: #1849a9;
    --colors-info-900: #194185;
    --colors-info-950: #102a56;
 
    /* Sucess Colors*/
    --colors-success-25: #f6fef9;
    --colors-success-50: #ecfdf3;
    --colors-success-100: #dcfae6;
    --colors-success-200: #abefc6;
    --colors-success-300: #75e0a7;
    --colors-success-400: #47cd89;
    --colors-success-500: #17b26a;
    --colors-success-600: #079455;
    --colors-success-700: #067647;
    --colors-success-800: #085d3a;
    --colors-success-900: #074d31;
    --colors-success-950: #053321;
 
   /* below  Note validated yet */

    --gradient-gray-600-500-90deg: linear-gradient(90deg,var(--colors-gray-600) 0%,var(--colors-gray-500) 100%);
    --gradient-gray-700-600-45deg: linear-gradient(45deg,var(--colors-gray-700) 0%,var(--colors-gray-600) 100%);
    --gradient-gray-800-600-45deg: linear-gradient(45deg,var(--colors-gray-800) 0%,var(--colors-gray-600) 100%);
    --gradient-gray-800-600-90deg: linear-gradient(90deg,var(--colors-gray-800) 0%,var(--colors-gray-600) 100%);
    --gradient-gray-800-700-26-5deg: linear-gradient(26.5deg,var(--colors-gray-600) 0%,var(--colors-gray-700) 100%);
    --gradient-gray-900-600-45deg: linear-gradient(45deg,var(--colors-gray-900) 0%,var(--colors-gray-600) 100%);
 
    
    --gradient-brand-600-500-90deg: linear-gradient(90deg,var(--colors-brand-600) 0%,var(--colors-brand-500) 100%);
    --gradient-brand-700-600-45deg: linear-gradient(45deg,var(--colors-brand-700) 0%,var(--colors-brand-600) 100%);
    --gradient-brand-800-600-45deg: linear-gradient(45deg,var(--colors-brand-800) 0%,var(--colors-brand-600) 100%);
    --gradient-brand-800-600-90deg: linear-gradient(90deg,var(--colors-brand-800) 0%,var(--colors-brand-600) 100%);
    --gradient-brand-800-700-26-5deg: linear-gradient(26.5deg,var(--colors-brand-600) 0%,var(--colors-brand-700) 100%);
    --gradient-brand-900-600-45deg: linear-gradient(45deg,var(--colors-brand-900) 0%,var(--colors-brand-600) 100%);
 
 
    
    --colors-text-primary: var(--colors-gray-950);
    --colors-text-primary_on-brand: var(--colors-base-white);

    --colors-text-secondary: var(--colors-gray-700);
    --colors-text-secondary_on-brand: hsla(var(--colors-alpha-white)/70%);

    --colors-text-tertiary: var(--colors-gray-600);
    --colors-text-quarterary: var(--colors-gray-500);
    --colors-text-white: var(--colors-base-white);
    --colors-text-disabled: var(--colors-gray-500);
    --colors-text-placeholder: var(--colors-gray-500);
    --colors-text-brand-primary: var(--colors-brand-800);
    --colors-text-brand-secondary: var(--colors-brand-700);
    --colors-text-error-primary: var(--colors-error-600);
    --colors-border-primary: var(--colors-gray-300);
    --colors-border-secondary: var(--colors-gray-200);
    --colors-border-disabled: var(--colors-gray-300);
    --colors-border-disabled_subtle: var(--colors-gray-200);
    --colors-border-brand: var(--colors-brand-300);
    --colors-border-error: var(--colors-error-300);
    --colors-fg-primary: var(--colors-gray-900);
    --colors-fg-quinary-400: var(--colors-gray-400);
    --colors-fg-tertiary-600: var(--colors-gray-600);
    -xs: 0 1px 2px 0 rgba(16,24,40,.05);
    --shadow-sm: 0px 1px 2px 0px rgba(16,24,40,0.06),0px 1px 3px 0px rgba(16,24,40,0.1);
    --shadow-md: 0px 2px 4px -2px rgba(16,24,40,0.06),0px 4px 8px -2px rgba(16,24,40,0.1);
    --shadow-lg: 0px 4px 6px -2px rgba(16,24,40,0.03),0px 12px 16px -4px rgba(16,24,40,0.08);
    --shadow-xl: 0px 8px 8px -4px rgba(16,24,40,0.03),0px 20px 24px -4px rgba(16,24,40,0.08);
    --shadow-2xl: 0px 24px 48px -12px rgba(16,24,40,0.18);
    --shadow-3xl: 0px 32px 64px -12px rgba(16,24,40,0.14);
    --radius-none: 0;
    --radius-xxs: 2px;
    --radius-xs: 4px;
    --radius-sm: 6px;
    --radius-md: 8px;
    --radius-lg: 10px;
    --radius-xl: 12px;
    --radius-2xl: 16px;
    --radius-3xl: 20px;
    --radius-4xl: 24px;
    --radius-full: 9999px;
    --spacing-0: 0px;
    --spacing-0․5: 2px;
    --spacing-1: 4px;
    --spacing-1․5: 6px;
    --spacing-2: 8px;
    --spacing-3: 12px;
    --spacing-4: 16px;
    --spacing-5: 20px;
    --spacing-6: 24px;
    --spacing-8: 32px;
    --spacing-10: 40px;
    --spacing-12: 48px;
    --spacing-16: 64px;
    --spacing-20: 80px;
    --spacing-24: 96px;
    --spacing-32: 128px;
    --spacing-40: 160px;
    --spacing-48: 192px;
    --spacing-56: 224px;
    --spacing-64: 256px;
    --spacing-80: 320px;
    --spacing-96: 384px;
    --spacing-120: 480px;
    --spacing-140: 560px;
    --spacing-160: 640px;
    --spacing-180: 720px;
    --spacing-192: 768px;
    --spacing-256: 1024px;
    --spacing-320: 1280px;
    --spacing-360: 1440px;
    --spacing-400: 1600px;
    --spacing-480: 1920px;
    --spacing-none: var(--spacing-0);
    --spacing-xxs: var(--spacing-0․5);
    --spacing-xs: var(--spacing-1);
    --spacing-sm: var(--spacing-1․5);
    --spacing-md: var(--spacing-2);
    --spacing-lg: var(--spacing-3);
    --spacing-xl: var(--spacing-4);
    --spacing-2xl: var(--spacing-5);
    --spacing-3xl: var(--spacing-6);
    --spacing-4xl: var(--spacing-8);
    --spacing-5xl: var(--spacing-10);
    --spacing-6xl: var(--spacing-12);
    --spacing-7xl: var(--spacing-16);
    --spacing-8xl: var(--spacing-20);
    --spacing-9xl: var(--spacing-24);
    --spacing-10xl: var(--spacing-32);
    --spacing-11xl: var(--spacing-40);
    --width-xxs: var(--spacing-80);
    --width-xs: var(--spacing-96);
    --width-sm: var(--spacing-120);
    --width-md: var(--spacing-140);
    --width-lg: var(--spacing-160);
    --width-xl: var(--spacing-192);
    --width-2xl: var(--spacing-256);
    --width-3xl: var(--spacing-320);
    --width-4xl: var(--spacing-360);
    --width-5xl: var(--spacing-400);
    --width-6xl: var(--spacing-480);
    --paragraph-max-width: var(--spacing-180);
    --container-padding-mobile: var(--spacing-4);
    --container-padding-desktop: var(--spacing-8);
    --container-max-width-desktop: var(--spacing-320);
 
    --border-width: 3px;
    --border-radius: 17px;
    --br-lg: 28px;
    --border-radius-large: 32px;
    --border-radius-xlarge: 48px;
    --border-radius-full: 50%;
 
}
@font-face {
    font-family: "ibmregular";
    src: url("../fonts/ibmplex/ibmplexsansarabic-regular.ttf") format("truetype");
}
@font-face {
    font-family: "ibmbold";
    src: url("../fonts/ibmplex/ibmplexsansarabic-bold.ttf") format("truetype");
}

.img2{
    width: 20px fixed;
    height: 14px ;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 9px;
}

.new{
    font-weight: var(--medium);
}

.inside{
    width: 1400px ;
    height: 280px  ;
    gap: 32px;
}

.heroTitle{
    width: 775px;
    height: 60px;
    color:var(--colors-base-white);
    text-align: right;
    font-family: var(--ibmregular);
    font-style: normal;
    font-weight: var(--border-width);
    letter-spacing: -0.96px;
}
.under{
    width: 680px;
    height: 80px;
    color: var(--colors-base-white);
    font-family: var(--ibmregular);
    font-weight: var(--semibold);
    font-size: 16px;
    margin-top: 30px;
}

.btn-primary{
    width: 82px;
    height: 40px fixed;
    padding-top: 5px;
    padding-bottom: 5px ;
    padding-right: 16px ;
    padding-left: 16px ;
    border-radius: 4px;
    gap: 4px;
    background-color: var(--colors-base-white);
    font-weight: var(--bold);
}

.Numbers{
    width: 1440px fixed;
    height: 410px ;
    top: 667px;
    padding-top: var(--spacing-5xl);
    padding-right: var(--spacing-8xl);
    padding-bottom: var(--spacing-5xl);
    padding-left: var(--spacing-8xl);
    gap: var(--spacing-5xl);
    background-color: var(--colors-base-white);
}

.size{
    width: 1280px;
    height: 330px;
    gap: var(--spacing-5xl);
}

.subnumber{
    width: 1280px;
    height: 86px;
    gap: var(--spacing-3xl);
}

.types{
    width: 1280px;
    height: 38px;
    font-family: var(--ibmBold);
    font-weight: var(--bold);
    align-items:right;
    font-size: 30px;
    color: var(--text-default);
}

.type{
    width: 778px;
    height: 24px;
    font-family: var(--ibmregular);
    font-weight:var(--regular);
    size: 16px;
    color: var(--text-default);
}

.statistic{
    width: 1248px;
    height: 204px;
    gap: var(--spacing-4xl);
    display: flex;
    flex-direction: row;
}

.Students{
    width: 224px;
    height: 204px;
    border-radius: var(--radius-2xl);
    padding: var(--spacing-xl);
    gap: 24px;
}

.Students img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Fi{
    width: 56px;
    height: 56px;
    padding-top: 16px;
    padding-bottom: 132px;
    padding-left: 84px;
    padding-right: 84px;
}

.student{
    width: 192px;
    height: 92px;
    gap: 8px;
}

.NS{
    font-weight: var(--regular) ;
    size: 16px;
    margin-right: 35px  ;
    margin-top: 40px;
}

.N{
    font-weight: var(--regular);
    font-size: 48px;
    color: var(--colors-brand-800) ;
    margin-right: 50px;
    margin-top:30px ;
}

.prom{
    width: 224px;
    height: 204px;
    padding: var(--spacing-xl);
    margin-top: -15px;
}

.prom img{
    display: block;
    margin-right: 50px;
    margin-top: 15px;
}

.promo{
    font-weight: var(--regular);
    font-size: 48px;
    color: var(--colors-brand-800) ;
    margin-right: 15px;
    margin-top:30px;
}

.Npromo{
    font-weight: var(--regular);
    size: 16px;
    margin-right: 35px ;
    margin-top: 40px;
}

.members{
    width: 224px;
    height: 204px;
    padding: var(--spacing-xl);
}

.members img{
    display: block;
    margin-right: 50px;
}

.member{
    font-weight: var(--regular);
    font-size: 48px;
    color: var(--colors-brand-800) ;
    margin-right: 30px;
    margin-top:30px;
}

.Nmember{
    font-weight: var(--regular);
    size: 16px;
    margin-right: 25px ;
    margin-top: 40px;
}

.employees{
    width: 224px;
    height: 204px;
    padding: var(--spacing-xl);
    margin-top: -10px;
}
.employees img{
    display: block;
    margin-right: 10px;
    margin-top: 10px;
}

.employee{
    font-weight: var(--regular);
    font-size: 48px;
    color: var(--colors-brand-800) ;
    margin-top:30px;
}

.Nemployee{
    font-weight: var(--regular);
    size: 16px;
    margin-right: 0px ;
    margin-top: 40px;
}

.Faculties{
    width: 224px;
    height: 204px;
    margin-top: -10px;
}

.Faculties img{
    display: block;
    margin-top: 28px;
}

.faculty{
    font-weight: var(--regular);
    font-size: 48px;
    color: var(--colors-brand-800) ;
    margin-top:30px;
    margin-right: 6px;
}

.Nfaculty{
    font-weight: var(--regular);
    size: 16px;
    margin-top: 40px;
    margin-right: -10px;
}

.custom-container, .custom-container-1260 {
    max-width: var(--container-max-width-desktop);
    display: flex;
    padding-right: 30px ;
    padding-left: 30px;
    width: 100%;
}

.stamp-container {
    width: 100%;
    padding-right: var(--spacing-4xl);
    padding-left: var(--spacing-4xl);
    background: #f3f4f6;
    z-index: 5;
    display: flex;
    align-items: center;
    gap: 10px;
}
.stamp-container .bg-otutline-border {
    border-radius: 9999px;
    border: 1px solid #067647;
    box-sizing: border-box;
    height: 48px;
    width: 48px;
    padding: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.stamp-container .btn-stamp-link {
    font-size: 14px;
    min-width: 80px;
    border: none;
    outline: none;
    padding: unset;
    height: max-content;
    margin-inline-start: 15px;
    background-color: transparent !important;
    color: #1b8354;
    background: transparent;
    font-size: 16px;
}
.stamp-container .stamp-link {
    display: flex;
    background-color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    position: relative;
    border-radius: 8px;
    padding: 8px 24px;
    box-sizing: border-box;
    text-align: start;
    font-size: 16px;
}
.stamp-link-text{
    transition: var(--transition);
    color:var(--color-sa-600)!important;
}
.stamp-link-text:hover{
    color:var(--color-sa-400)!important;
}
.stamp-container .stamp-link img {
    margin-inline-end: 20px;
    color: transparent;
    width: max-content;
    height: 30px;
}
.text-18-600 {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    font-family: var(--ibmBold);
}
html body a{
    color:var(--color-sa-600)!important;
}
html body a:hover{
    color:var(--color-sa-400)!important;
}
@media (max-width: 980px) {
    .custom-container {
        max-width: 100%;
        display: flex;
        margin-inline: auto;
        width: calc(100% - 30px);
    }
}
@media (min-width: 980px) and (max-width: 1200px) {
    .custom-container {
        max-width: 980px;
    }
}
@media (min-width: 1200px) and (max-width: 1500px) {
    .custom-container, .section-header.section-header-1 .section-header-inn, .section-header.section-header-2 .section-header-inn {
        max-width: 1160px;
    }
}