.heroBanner {
    width: 100%;
    height: 34rem;
    position: relative;
}

.heroBanner .slide {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1!important;
}
.heroBanner .slick-slider,
.heroBanner .slick-list,
.heroBanner .slick-track{
    height: 100%;
}
.heroBanner .slide h1 {
    color: white;
    font-size: 1.875rem;
    line-height:2.375rem;
    font-weight:normal;
    opacity: 0;
    z-index: 1;
    transform: translateX(100%);
}
.heroBanner .slide span{
    color: rgb(255 255 255 / 80%);
    font-size: 1.2rem;
    margin-bottom: 1rem;
    display: block;
    position: relative;
}
.heroBanner .slide span::before{
    content:"";
    position:absolute;
    background-image:url("../media/yellowLine.svg");
    background-size:contain;
    height: 10rem;
    width: 10rem;
    right: -2rem;
    top: -2rem;
    background-repeat: no-repeat;
}
.heroBanner .slide .card-img-overlay{
    height: 100%;
    z-index: 2;
    justify-content: center;
    padding: 16rem 7rem;
}
.heroBanner .slide .slideDescription{
    background:url("../media/frame\ 28.webp") var(--native_Blue);
    background-repeat: no-repeat;
    background-size: 225%;
    background-position: center;
    position: absolute;
    bottom: 0;
    left: 5rem;
    z-index: 3;
    width:25%;
    padding: 2rem 3rem;
}
.socialMediaIcons{
    display:flex;
    flex-direction:column;
    align-items:center;
    position:absolute;
    background-color:transparent;
    z-index:3;
    bottom: 0rem;
    padding-bottom: 7rem;
    left:0;
    width: 5rem;
}
.socialMediaIcons::after{
    content:"";
    position:absolute;
    width:5rem;
    height: 5rem;
    background-color:white;
    bottom:0;
}
.socialMediaIcons a{
    margin:.7rem 0;
}
.heroBanner .slide .slideDescription p{
    color: var(--white);
    line-height: 1.75rem;
    font-size: 1rem;
}
.heroBanner .slide.slick-active.slick-current h1 {
    animation: 1s fadeRight forwards;
}

.heroBanner .slide video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.heroBanner .slide .video-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.5));
}
.video-container {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 0;
    overflow: hidden;
}
.heroBanner .play-pause-button {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    width: 2.5rem;
    height: 2.5rem;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    animation: 1s ease 1.4s 1 normal forwards running fadein;
    background-color: rgb(0, 0, 0, 0.4);
    border-radius: 100%;
}

.progress-circle {
    position: absolute;
    width: 100%;
    height: 100%;
    border-color: rgb(255, 255, 255, 0.1);
    transform:rotate(270deg);
}

.play-icon,
.pause-icon {
    position: absolute;
    width: 1rem;
    height: 1rem;
    fill: rgb(255, 255, 255);
    display: none;
}

.play-icon.active {
    display: block;
}

.pause-icon.active {
    display: block;
}

circle.progress {
    stroke: white;
}

.progress-circle circle:first-child {
    stroke: rgb(255 255 255 / 30%);
}

/* OUR VISION SECTION START */
.ourVision {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: black;
    position: relative;
    padding-top: 2rem;
    background-color:white;
    padding-bottom: 4rem;
    text-align: right;
    overflow: hidden;
}

.overall-lines-container {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    gap: 7.9rem;
    left: 5.01rem;
    top: 0;
    z-index: 1;
}


.overall-line{

    width: 1px;
    height: 100%;
    background-color: #EBEBEB;
    height: 0;
    transition: var(--transition);
   
}

.overall-vision-pattern{
    position: absolute;
    top: -12rem;
    left: 0rem;

    z-index: 0;
    transform: translateY(-10rem);
}

.overall-vision-pattern img{
    width: 18rem;
}



.subtitle-design-class{
    z-index: 2;
    font-size: 1em;
    padding-bottom: 1.5rem;
    position: relative;
    padding-right: 1.5rem;
    transform: translateX(10rem);
    opacity: 0;
} 
.subtitle-design-class::before {
    content: ''; /* Required to display the pseudo-element */
    position: absolute;
    right: 0; /* Position to the left of the h4 */
    top: .3rem; /* Center vertically */
    
    width: .7rem; /* Width of the square */
    height: .7rem; /* Height of the square */
    background-color: #D4B42F; /* Color of the square */
}

.maintitle-design-class{
    font-family: var(--neoBold);
    font-size: 1.35em;
    transform: translateX(10rem);
    opacity: 0;
}

.maintitle-highlight-design-class{
    color: var(--main-green);
}

.vision-main-title{
    z-index: 2;
    padding-bottom: 2rem;
   
}
.cardsContainer{
    display: flex;
    /* align-items: end; */
    justify-content: end;
    gap: 1.5rem;
    z-index: 4;
    position: relative;
    flex-direction: column;
}

.vision-card{
    position: relative;
    height: 23rem;
    width: 100%;
    display: flex
    ;
        flex-direction: column;
        direction: rtl;
        overflow: hidden;
        transition: width 0.4s, height  0.4s;
        transform: translateX(-10rem);
        opacity: 0;

}
.vision-rotated-title{
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    display: none;
}
.vision-card:not(.active){
    width: 100%;
    height: 5rem;
    cursor: pointer;
}
.vision-card:not(.active) .vision-rotated-title{
    display: flex;
}
.vision-card:not(.active) .vision-card-title{
    display: none;
}
.vision-card:not(.active) .vision-card-paragraph{
    display: none;
}
.vision-card:not(.active) .vision-card-links-container{
    display: none;
}
.vision-card > * {
    z-index: 2;
    position: relative;
}

body .vision-card-background-image {
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    z-index: 0;
}

.ourVision .vision-card .card-img-overlay{
    height:100%;
    width:100%;

    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.05));
}
.vision-card.active .card-img-overlay{
    display: block;
}
.vision-card-background-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.vision-card-title{
    padding:1.5rem;
    border-bottom: 1px solid #6A6F6B;
    color: white;
    font-family: var(--neoBold);
    font-size: 1.5em;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.vision-card-paragraph{
    padding: 1.5rem;
    padding-left: 4rem;
    color: white;
    width: 25rem;
    font-size: 0.95em;
    line-height: 2;
}


.vision-card-links-container{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;

}

.vision-card-link-item{
    display: flex;
    flex-direction: row-reverse;
    height:3.4rem;

}
.vision-card-link-item-arrow{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    padding-right: 1.3rem;
    border-right:1px solid #E9E9E9;
}

.vision-card-link-item .vision-card-link-item-arrow img{
    transition: var(--transition);
   
}

.vision-card-link-item:hover .vision-card-link-item-arrow img{
    transform: translate(10px, -4px);
}

.vision-card-link-item-content{
    display: flex;
    flex-direction: row-reverse;
    width: 13.5rem;
    background-color: white;
    color: black;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
    padding-left: 1rem;
    border-bottom: 1px solid #E9E9E9;
    border-left: 1px solid #E9E9E9;
}


.vision-card-link-item-text{
    font-size: 1em;
}
.vision-link-item-image-container{
    background-color: var(--green);
    width: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vision-link-item-image-container.star{
    background-color: var(--lightGreen);
}

.vision-link-item-image-container.book{
background-color: #9DB73B;

}


.vision-card-link-item-arrow img{
    width: .95rem;
}

.vision-link-item-image-container img{
    width: 1.5rem;
}

.academicPrograms p.sectionTitle {
    opacity: 0;
    transform: translateX(100%);
}

.academicPrograms p.sectionTitle,
.latestNews p.sectionTitle,
.eservicesSection p.sectionTitle {
    color: rgb(0, 0, 0, 0.7);
    font-size: 1.125rem;
    line-height:1.5rem;
}



.openData {
    width: 100%;
    position: relative;
    background-color: var(--native_Blue);
    overflow: hidden;
}
.openData .slick-prev,
.openData .slick-next{
    position: absolute;
    top: 66%;
    transform: translateY(-50%);
    background-color: rgb(0 0 0 / 20%);
    border: 1px solid rgb(255 255 255 /20%);
    border-radius: 100%;
    padding: 1rem;
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;

}
.slick-prev::before,
.slick-next::before{
 content:none!important;
}
.openData .buttonContainerLeft{
    height: 100%;
    width: 7rem;
    background: linear-gradient(to left, #1d3d4d 60.92%, transparent);
    position: absolute;
    right: 0;
    top: 0;
    z-index:1;

}
.openData .buttonContainerRight{
    height: 100%;
    width: 7rem;
    background: linear-gradient(to right, #1d3d4d 62.92%, transparent);
    position: absolute;
    left: 0;
    top: 0;
    z-index:1;

}
.openData .slick-prev{
    right: 1rem;

}
.openData .slick-next{
    left: 1rem;

}
.openData .slick-prev svg,
.openData .slick-next svg{
height: 100%;
width: 100%;
object-fit: cover;
}
.openData .slick-prev svg{
    transform: scaleX(-1);
}

.openData .sliderContainer::before {
    content: "";
    height: 100%;
    width: 100%;
    background: url("../media/waves.gif");
    opacity: 0.12;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: grayscale(0.5);
}

.openData .sliderContainer {
    padding: 1.5rem 1rem;
    background-color: transparent;
    position: relative;
    overflow: hidden;
}

.openData h1.title {
    margin-bottom: 1.5rem;
    opacity: 0;
    font-weight:normal;
    transform: translateY(100%);
}

.openData h1.title span {
    font-size: var(--appTitleFontSizeMob);
    color: white;
    font-family: var(--appTitleFontFam);
}

.openData h1.title span:last-child {
    color: #cbd1d3;
}

.openData .icon {
    height: 3rem;
    width: 3rem;
    margin-bottom: .5rem;
    color:#FFFFFF;
}

.openData .icon img ,
.openData .icon svg{
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.openData .data-slide {
    opacity: 0;
    transform: translateY(100%);
    padding: 1.5rem 0;
    width: 48%;
    border: 1px solid rgb(255, 255, 255, 0.3);
    border-radius: .5rem;
    flex-direction: column;
    margin:0 .5rem;
}
.openData .data-slide h2 {
    justify-content: center;
    margin-bottom: 0;
    font-weight:normal;
}

.openData .data-slide h2 div.icon {
    margin-left: .2rem;
    margin-bottom: 0;
    height: 1em;
    width: 0.6em;
    position: relative;
    transform: translateY(-.6rem);
}
.openData .data-slide h2 span {
    color: white;
    font-size: 1.8rem;
    font-family: var(--neoBold);

}

.openData .data-slide p.statDescription {
    color: rgb(255, 255, 255, 0.6);
    font-size: 1rem;
    margin: 0;
    text-align: center;

}

.openData::before {
    content: "";
    height: 26rem;
    width: 20rem;
    background-image: url("../media/shape-circle-dots\ 1.webp");
    background-size: 100%;
    background-position: left;
    background-repeat: no-repeat;
    position: absolute;
    top: 46%;
    left: 0rem;
    z-index: 0;
}

.openData::after {
    content: "";
    height: 26rem;
    width: 20rem;
    background-image: url("../media/shape-circle-dots\ 1.webp");
    background-size: 100%;
    background-position: left;
    background-repeat: no-repeat;
    position: absolute;
    top: -53%;
    right: 0rem;
    z-index: -1;
    transform: scale(-1, -1)
}
/* OUR VISION SECTION END */
/* ACADEMIC PROGRAMS START */
.academicPrograms {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background: url("../media/Background1.webp"), var(--white);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.academicPrograms .topSection,
.eservicesSection .topSection {
    margin-bottom: 2rem;
    justify-content: space-between;
    overflow: hidden;
}
.academicPrograms .topSection h1,
.eservicesSection .topSection h1 {
    font-size: var(--appTitleFontSizeMob);
    font-family: var(--appTitleFontFam);
    line-height: 1.4;
    color:#000000;
    font-weight:normal;
    opacity: 0;
    transform: translateX(100%);
}

.academicPrograms .topSection h1 span:last-child,
.eservicesSection .topSection h1 span:last-child {
    color: var(--green);
}

.academicPrograms .topSection p.description {
    color: rgb(0, 0, 0, 0.7);
    line-height: 2.2;
    font-size: 1em;
    opacity: 0;
    transform: translateX(-100%);
}

.academicPrograms .gridLayout .col-lg-5 {
    max-width: 100%;
    flex: 0 1 100%;
}

.academicPrograms .gridLayout .card {
    height: 12rem;
    opacity: 0;
    transform: translateY(100%);
    width: auto;
    border-radius:1rem;
}

.academicPrograms .gridLayout .d-flex .card {
    height: 12rem;
}

.academicPrograms .gridLayout .col-md-6 {
    max-width: 100%;
    flex: 0 1 100%;
}

.academicPrograms .gridLayout .card:hover img {
    transform: scale(1.1);
}

.academicPrograms .gridLayout .card img {
    object-fit: cover;
    height:100%;
    transition: var(--transition);
}

.academicPrograms .gridLayout .card .card-img-top {
    border-radius: 1rem;
    height: 100%;
}


.academicPrograms .gridLayout .card .card-img-overlay {
    padding: 0.8rem 1rem;
    background: linear-gradient(to bottom, transparent, rgba(0 0 0 /66%));

}

.academicPrograms .gridLayout .card .card-img-overlay .icon {
    background-color: var(--lightGreen);
    padding: 0.9rem;
    border-radius: 100%;
    height: 2.6rem;
    width: 2.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
}
.academicPrograms .gridLayout .card .card-img-overlay .icon:hover{
    background-color: #5f8a44;
}
.academicPrograms .gridLayout .card .card-img-overlay .learnMore {
    background-color: var(--lightGreen);
    color: white!important;
    padding: .6rem 1.5rem;
    border-radius: 2rem;
    transition: var(--transition);
    cursor: pointer;
}
.academicPrograms .gridLayout .card .card-img-overlay .learnMore:hover{
     background-color: #5f8a44;
}
.academicPrograms .gridLayout .card .card-img-overlay .icon svg {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.academicPrograms .gridLayout .card .card-img-overlay h5.card-title {
    font-size: 1.3rem;
    color: var(--white);
    margin: 0;
    line-height: 1.5;
    max-width: 90%;
    width:fit-content;
}

.academicPrograms .gridLayout .d-flex .card:nth-child(4n+3),
.academicPrograms .gridLayout .d-flex .card:nth-child(4n+4) {
    margin-bottom: 0;
}

/* ACADEMIC PROGRAMS END */
/* LATEST NEWS SECTION START */
.latestNews {
    background: url("../media/Background1.webp"), var(--lightGray);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
    overflow: hidden;

}

.latestNews .sectionTitle,
.latestNews h1.title {
    text-align: center;
    opacity: 0;
    font-weight:normal;
    transform: translateY(100%);
}

.latestNews h1.title span {
    font-size: var(--appTitleFontSizeMob);
    font-family: var(--appTitleFontFam);
}

.latestNews h1.title span:last-child {
    color: var(--green);
}

.latestNews .nav-pills {
    width: fit-content;
    margin: auto;
    border-bottom: 1px solid var(--lightGrey);
    padding: 0;
    margin: 3rem auto;
    opacity: 0;
    transform: translateY(100%);
}

.latestNews .nav-pills li .nav-link {
    color: var(--darkGrey);
    background-color: transparent;
    transition: var(--transition);
    position: relative;
    padding: 0.6rem 1.4rem;
    font-size: 1rem;
}

.latestNews .nav-pills li .nav-link.active,
.latestNews .nav-pills li .nav-link:hover{
    color: var(--native_Blue)!important;
}

.latestNews .nav-pills li .nav-link.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: .1rem;
    width: 100%;
    background-color: var(--native_Blue);
}
.latestNews .tab-content .tab-pane.container {
    padding: 0;
}

.latestNews .tab-content .tab-pane.active .col-lg-4:nth-child(3n+1) {
    animation: 1s fadeup forwards;
}

.latestNews .tab-content .tab-pane.active .col-lg-4:nth-child(3n+2) {
    animation: 1s fadeup .1s forwards;
}

.latestNews .tab-content .tab-pane.active .col-lg-4:nth-child(3n+3) {
    animation: 1s fadeup .2s forwards;
}

.latestNews .col-lg-4 {
    border-radius: .6rem;
    opacity: 0;
    transform: translateY(100%);
}

.latestNews .col-lg-4 .card {
    border-radius: .6rem;
    opacity:0;
    transform:translateY(100%);
    margin-bottom: 1rem;
    transition:none!important;
}

.latestNews .col-lg-4 .card .card-img-top {
    height: 16rem;
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
}

.latestNews .col-lg-4 .card .card-img-top img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: var(--transition);
    object-position:top;
}

.latestNews .col-lg-4 .card:hover .card-img-top img {
    transform: scale(1.1);
}

.latestNews .col-lg-4 .card .card-body {
    padding: 3rem 2rem;
    font-family: var(--neoBold);
    background-color: white;
    border-bottom-left-radius: .6rem;
    border-bottom-right-radius: .6rem;
    min-height: 9.8rem;
}

.latestNews .col-lg-4 .card .card-body h4 {
    font-size: 1.2rem;
    color:#000000;
    line-height: 1.6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp:3;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.latestNews .col-lg-4 .card:hover .card-body h4{
color:#000000;
}

.latestNews .col-lg-4 .card .card-img-overlay {
    width: fit-content;
    height: fit-content;
    background-color: var(--native_Blue);
    top: 56%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0.5rem 1rem;
}

.latestNews .col-lg-4 .card .card-img-overlay span {
    font-size: 1rem;
    color: white;
    position: relative;
    padding: 0rem 1.4rem;
}

.latestNews .col-lg-4 .card .card-img-overlay span::before {
    content: "";
    position: absolute;
    right: 0;
    background-color: rgb(255, 255, 255, .5);
    height: 0.6rem;
    width: 0.6rem;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 100%;
}

/* LATEST NEWS SECTION END */
/* ESERVICES SECTION START */
.eservicesSection {
    padding-top: 4rem;
    padding-bottom: 4rem;
    position:relative;
}
.eservicesSection .tab-content .tab-pane.slick-current.slick-active {
    display: flex;
    opacity: 1 !important;
    right: 0 !important;
}

.eservicesSection .tab-content .tab-pane .col-lg-3 {
    opacity: 0;
    transform: translateY(50%);
}

.eservicesSection .tab-content .tab-pane .col-lg-3 .card {
    margin-bottom: 4rem;
    border-color: var(--lightGrey);
    border-radius: .5rem;
    min-height: 14rem;

}

.eservicesSection .tab-content .tab-pane .col-lg-3:last-child .card {
    margin-bottom: 0;
}

.eservicesSection .nav-pills {
    margin-bottom: 6rem;
    display: flex;
    align-items: center;
    padding: 0;
    width: 100%;
}

.eservicesSection .slick-arrow,
.ourStoryContent .slick-arrow {
    position: absolute;
    height: 3rem;
    width: 3rem;
    border: none;
    background-color: var(--native_Blue);
    padding: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ourStoryContent .slick-prev,
.ourStoryContent .slick-next{
  top:1.4rem;
}
.ourStoryContent{
 position:relative;
}
.eservicesSection .slick-prev,
.eservicesSection .slick-next{
 top:12.5rem;
}
.eservicesSection .slick-next {
    left: 1rem;
    z-index: 1;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.eservicesSection .slick-next svg,
.ourStoryContent .slick-next svg {
    transform: scaleX(-1);
}

.eservicesSection .slick-prev {
    right: 0rem;
    z-index: 1;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.ourStoryContent .slick-next{
 left:0;
 z-index:1;
 border-top-left-radius:1rem;
 border-bottom-left-radius:1rem;
}
.eservicesSection .slick-prev svg,
.ourStoryContent .slick-prev svg,
.eservicesSection .slick-next svg,
.ourStoryContent .slick-next svg {
    height: 100%;
    width: 100%;
}

.ourStoryContent .slick-prev {
    right: 1rem;
    z-index: 1;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.eservicesSection .nav-pills .slick-active .nav-link,
.ourStoryContent .nav-pills .slick-active .nav-link {
    background-color: #f7f7f7;
    color: var(--native_Blue);
}

.eservicesSection .tab-content .tab-pane .col-lg-3 .card .card-img-top {
    border: 10px solid white;
    height: 4.6rem;
    width: 4.6rem;
    border-radius: 100%;
    position: absolute;
    top: -34%;
    right: 50%;
    background-color: var(--yellowGreen);
    transform: translate(50%, 50%);
    padding: .9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.eservicesSection .tab-content .tab-pane .col-lg-3 .card .card-img-top::before {
    content: "";
    height: 4.5rem;
    width: 4.5rem;
    position: absolute;
    z-index: -1;
    border: 1px solid var(--lightGrey);
    border-radius: 100%;
}

.eservicesSection .tab-content .tab-pane .col-lg-3 .card .card-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2.7rem 1rem .7rem;
}

.eservicesSection .tab-content .tab-pane .col-lg-3 .card .card-footer {
    background-color: transparent;
    padding: 0.9rem 0;
}

.eservicesSection .tab-content .tab-pane .col-lg-3 .card .card-body h5 {
    font-family: var(--neoBold);
    text-align: center;
    color:#000000;
    font-size:1rem;
    line-height:1.7rem;
}

.eservicesSection .tab-content .tab-pane .col-lg-3 .card .card-body p.card-text {
    color: rgb(0, 0, 0, 0.7);
    text-align: center;
    font-size:0.75rem;
    line-height:1.5rem;

}

.eservicesSection .tab-content .tab-pane .col-lg-3 .card .card-img-top img {
    object-fit: contain;
    height:100%;
    width:100%;
}

.eservicesSection .tab-content .tab-pane .col-lg-3 .card .card-footer .icon {
    height: 1rem;
    width: 1rem;
    transition: var(--transition);
    margin-right: .5rem;
}

.eservicesSection .tab-content .tab-pane .col-lg-3 .card .card-footer a.startService {
    color: var(--native_Blue)!important;
}
.eservicesSection .tab-content .tab-pane .col-lg-3 .card .card-footer a.startService:hover{
 opacity:.85;
}
.eservicesSection .tab-content .tab-pane .col-lg-3 .card .card-footer:hover a.startService .icon {
    transform: translateX(-.3rem);
}

.eservicesSection .topSection .sectionTitle {
    opacity: 0;
    transform: translateX(100%);
}

.eservicesSection .nav-pills .slick-list,
.ourStoryContent .nav-pills .slick-list {
    overflow: hidden;
    width: 100%;
}

.eservicesSection .tab-content .slick-list,
.ourStoryContent .tab-content .slick-list {
    overflow: unset;
}

.eservicesSection .slick-slide,
.eservicesSection .slick-track,
.ourStoryContent .nav-pills .slick-slide,
.ourStoryContent .nav-pills .slick-track {
    width: 100% !important;
    box-sizing: border-box;
    display: flex;
    flex: 1 0 100%;
}

.ourStoryContent .tab-content .slick-track {
    width: 100% !important;
}
.academicPrograms .gridLayout{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    padding-bottom: 1rem;
}
.academicPrograms .gridLayout .card:first-child{
    grid-column: 1;
    grid-row: 1 / span 2;

}
.eservicesSection .tab-pane.slick-slide{
    display: none;
}
.eservicesSection .tab-pane.slick-active.slick-current{
    display: block;
    opacity: 1!important;
    right: 0!important;
}
@media(min-width:576px){
    .academicPrograms .gridLayout{
        grid-template-rows: auto;
    }
    .academicPrograms .gridLayout .card:first-child{
    grid-column: 1;
    grid-row: auto;
}
}
@media(min-width:768px) {
    .academicPrograms .gridLayout{
        grid-template-rows: auto;
        grid-template-columns: repeat(6, 1fr);
    }
    .academicPrograms .gridLayout .card:first-child{
                grid-column: 1 / span 3;
    }
    .academicPrograms .gridLayout .card:nth-child(2){
                grid-column: 4 / span 3;
    }
    .academicPrograms .gridLayout .card:nth-child(3) {
        grid-row: 2;
        grid-column: 1 / span 2;
    }
    .academicPrograms .gridLayout .card:nth-child(4) {
        grid-row: 2;
        grid-column: 3 / span 2;
    }
    .academicPrograms .gridLayout .card:nth-child(5) {
        grid-row: 2;
        grid-column: 5 / span 2;
    }
    .ourVision .imagesContainer .img-container:last-child {
        right: 8rem;
        top: 2.2rem;
        z-index: 1;
        height: 26.4rem;
        width: 14rem;
        border-radius: .5rem;
        position: absolute;
    }
    
    .ourVision .imagesContainer .img-container:last-child::before {
        display: block;
        top: 7.6rem;
        height: 20rem;
    }
    .ourVision .ourStory .card p.description{
        width: 100%;
    }
    .ourVision .tab-pane .card:not(:last-child){
        margin-bottom:1rem;
    }
    .ourVision .storyTabs .nav-item .nav-link, .eservicesSection .nav-pills .nav-item .nav-link{
        padding: .4rem 1.1rem;
    }
    .ourStory .sectionTitle {
        font-size: var(--appTitleFontSizeTablet);
	line-height:2.75rem;
    }

    .ourVision .ourStory p.description {
        margin-bottom: 1rem;
    }

    .latestNews .col-lg-4 .card .card-body h4 {
        font-size: .95rem;
    }

    .latestNews .col-lg-4 .card .card-img-top {
        height: 11rem;
    }

    .latestNews .col-lg-4 .card .card-img-overlay {
        top: 53%;
    }

    .latestNews .col-lg-4 .card .card-body {
        padding: 2rem 1rem 1rem;
    }

    .latestNews .col-lg-4 .card .card-img-overlay span {
        font-size: .85rem;

    }

    .eservicesSection .tab-content .tab-pane .col-md-6:nth-child(2n+1) {
        padding-right: 0;
    }

    .eservicesSection .tab-content .tab-pane .col-md-6:nth-child(2n+2) {
        padding-left: 0;
    }

    .academicPrograms .gridLayout .col-lg-5,
    .academicPrograms .gridLayout .col-md-6:first-child {
        max-width: 50%;
        flex: 0 1 50%;
    }

    .academicPrograms .gridLayout .col-md-6 {
        max-width: 33.33%;
        flex: 0 1 33.33%;
    }

    .academicPrograms .topSection p.description {
        width: 56%;
    }

    .openData .data-slide h2 {
        text-align: right;
        justify-content: flex-start;
    }

    .openData .data-slide {
        flex-direction: row;
        justify-content: flex-start;
        width: 50%;
    }

    .ourVision {
        padding-top: 4rem;
    }
    .heroBanner {
        height: 30rem;
    }

    .heroBanner .slide h1 {
        font-size: 2.25rem;
	line-height:2.75rem;
    }

    .openData .data-slide div.icon {
        margin-left: 1rem;
        height: 3.5rem;
        width: 3.5rem;
        transform: translateY(-0.6rem);
        margin-bottom: 0;
    }
}

@media(min-width:992px){
    .eservicesSection .nav-pills .nav-item .nav-link.active,
.ourStoryContent .nav-pills .nav-item .nav-link.active,
.eservicesSection .nav-pills .nav-item .nav-link:hover,
.ourStoryContent .nav-pills .nav-item .nav-link:hover {
    background-color: var(--native_Blue);
    color: white;
}
.openData .uniStats {
    padding: 0 4rem;
}
.openData .data-slide{
 margin:0;
}
.openData::after{
 z-index:0;
}
.academicPrograms .gridLayout .card:first-child{
	height:100%;
}
    .ourVision .storyTabs .nav-item,
.eservicesSection .nav-pills .nav-item {
    border-radius: 2rem;
    margin: 0 0.3rem;
    overflow: hidden;
    background-color: #ededed;
    opacity: 0;
    transform: translateY(100%);
}
    .openData .data-slide:not(:last-child) {
    border-left: 1px solid rgb(255, 255, 255, 0.15);
}
    .academicPrograms .gridLayout .card .card-img-overlay .icon {
    padding: 0.75rem;
    height: 2.3rem;
    width: 2.3rem;
}
    .academicPrograms .gridLayout .card .card-img-overlay {
    padding: 1rem;
}
    .academicPrograms .gridLayout .card .card-img-overlay h5.card-title{
        font-size: 1.2rem;
    }
    
    .openData .data-slide div.icon{
        transform:none;
    }
    .academicPrograms .gridLayout{
        grid-template-columns: 2.8fr 2fr 2fr;
        grid-template-rows: repeat(2, 1fr);
        gap: 1rem;
    }
    .academicPrograms .gridLayout .card{
        height:100%;
	height:14rem;
    }
    .academicPrograms .gridLayout .card:nth-child(2),
    .academicPrograms .gridLayout .card:nth-child(3),
    .academicPrograms .gridLayout .card:nth-child(4),
    .academicPrograms .gridLayout .card:nth-child(5){
        grid-column:auto;
        grid-row:auto;

    }
    .academicPrograms .gridLayout .card:first-child{
    grid-column: 1;
    grid-row: 1 / span 2;

}
    .latestNews .col-lg-4 .card .card-body h4{
        font-size: 1rem;
    }
    .latestNews .col-lg-4 .card .card-img-top {
        height: 13rem;
    }
    .latestNews .col-lg-4 .card .card-img-overlay span {
    font-size: 1rem;
}
    .latestNews .col-lg-4 .card .card-img-overlay {
    top: 58.2%;
    padding: 0.5rem 1rem;
}

    .eservicesSection .tab-content .tab-pane .col-lg-3:nth-child(4n+1) {
        padding-right: 0;
    }

    .eservicesSection .tab-content .tab-pane .col-lg-3:nth-child(4n+4) {
        padding-left: 0;
    }

    .eservicesSection .tab-content .tab-pane .col-md-6:nth-child(2n+1),
    .eservicesSection .tab-content .tab-pane .col-md-6:nth-child(2n+2) {
        padding: 0 1rem;
    }

    .eservicesSection .nav-pills .nav-item .nav-link,
    .ourStory .nav-pills .nav-item .nav-link {
        padding: 0.6rem 1.4rem;
    }

    .video-container .careers {
        right: 1.2rem;
        left: auto;
    }

    .heroBanner .play-pause-button {
        left: 2rem;
        right: auto;
    }
    .openData .data-slide {
        border: none;
        border-radius: 0;
        flex-direction: row;
    
    }
    .eservicesSection .tab-content .tab-pane .col-lg-3 .card {
        margin-bottom: 3rem;
    }
    .ourVision {
        min-height: 45rem;
    }
    .ourVision .tab-pane .card {
        padding: 1.2rem 2rem;
    }

    .ourVision .tab-pane.active,
    .eservicesSection .tab-pane.active {
        display: block;
        opacity: 1;
    }

    .academicPrograms .gridLayout .col-md-6 {
        max-width: 50%;
        flex: 0 0 auto;
    }
    .heroBanner {
        height: 84vh;
    }

    .academicPrograms .gridLayout .col-lg-5 .card .card-img-overlay h5.card-title {
        font-size: 2rem;
    }

    .ourVision .storyTabs {
        margin-top: 1.5rem;
    }


    .academicPrograms .gridLayout .col-lg-5 {
        max-width: 41.66666667%;
        padding-left: 1rem;
    }

    .latestNews .tab-content .tab-pane.container {
        padding: 0 4rem;
    }

    .latestNews .col-lg-4 {
        padding: 0 1rem;
    }

    .heroBanner .slide h1 span:last-child {
        margin-right: 11.5rem;
        margin-top: 0.5rem;
        display: block;
    }

    .openData h1.title span {
        font-size: 2.7rem
    }

    .latestNews h1.title span {
        font-size: 2.7rem;
    }

    .academicPrograms .gridLayout .d-flex .card:nth-child(4n+1),
    .academicPrograms .gridLayout .d-flex .card:nth-child(4n+2) {
        margin-bottom: 1rem;
    }

    .academicPrograms .gridLayout .col-lg-6,
    .academicPrograms .gridLayout .col-md-6 {
        padding-left: 1rem;
    }
    .academicPrograms .gridLayout .col-lg-7 .card {
        height: 14rem
    }
    .ourVision .imagesContainer .img-container:first-child::before {
        top: 9rem;
        right: -0.8rem;
        height: 16rem;
    }
    .ourVision .imagesContainer .img-container:last-child::before {
        top: 3.4rem;
        height: 35rem;
        position: absolute;
        border-radius: .5rem;
	width:19.7rem;
	left:0.2rem;
    }

    .ourVision .imagesContainer .img-container:first-child {
        height: 23rem;
        width: 17rem;
        position: relative;
        border-radius: .5rem;
        opacity: 0;
        transform: translateX(100%);
    }

    .ourVision .imagesContainer .img-container:last-child {
        top: 2rem;
        z-index: 1;
        height: 30rem;
        width: 19rem;
        border-radius: .5rem;
        position: absolute;
        opacity: 0;
        transform: translateY(100%);
    }

    .latestNews .col-lg-4 .card {
        margin-bottom: 0;
    }

    .academicPrograms .topSection p.description {
        width: 44%;
        line-height: 2.2;
        text-align: justify;
    }

    .eservicesSection .tab-content .tab-pane .col-lg-3 {
        padding: 0 1rem;
        max-width: 25%;
        flex: 0 1 25%;
    }

    .ourVision .discoverOurStory,
    .academicPrograms p.sectionTitle,
    .eservicesSection p.sectionTitle {
        line-height: 1.1rem;
	font-size:1.125rem;
    }

    .latestNews p.sectionTitle {
        font-size: 1.125rem;
	line-height:1.1rem;
    }
.academicPrograms .topSection h1,
    .eservicesSection .topSection h1 {
        font-size: 2.7rem;
    }
    
}
@media(min-width:1200px){
    .vision-card-link-item-arrow{
        border: none;
    }
    .maintitle-design-class{
        font-size: 2.5em;
    }
    .subtitle-design-class{
        font-size: 1.1em;
    }
    .subtitle-design-class::before {
        top: .5rem
    }
    
    .overall-vision-pattern{
        left: 5rem;
        top: -15.5rem;
    }
    .vision-main-title{
        padding-bottom: 3rem;
    }
    .overall-vision-pattern img{
        width: 24rem;
    }
    .cardsContainer{
        flex-direction: row;
    }
    .vision-card:not(.active){
        width: 12rem;
        height: 35rem;
    }
    .vision-card{
        height: 35rem;
    }
    .vision-card-title{
        padding: 2.5rem;
        font-size: 1.8em;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    
    }
    .vision-card-paragraph{
        padding: 1.5rem;
        color: white;
        width: 26rem;
        font-size: 1.1em;
        line-height: 1.7;
    }
    
    .vision-rotated-title{
        writing-mode: tb-rl;
        transform: rotate(180deg);
        position: absolute;
        z-index: 3;
        width: 100%;
        height: 100%;
        margin: 0;
    }
    .vision-card-link-item-content{
        width: 20rem;
    }
    .vision-card-link-item{
        height: 4.5rem;
    }
    .vision-link-item-image-container{
        width: 4.5rem;
    }
.openData .slideContainer{
 padding:4rem 6rem;
}
    .openData .slick-prev{
        right: 4rem;
    
    }
    .openData .slick-next{
        left: 4rem;
    
    }
        .latestNews .col-lg-4 .card .card-body {
    padding: 3rem 2rem 1.5rem;
}
    .latestNews .col-lg-4 .card .card-img-top {
    height: 16rem;
    }
.academicPrograms .gridLayout .card .card-img-overlay .icon {
    padding: 0.9rem;
    height: 2.6rem;
    width: 2.6rem;
}
    .academicPrograms .gridLayout .card:first-child .card-img-overlay h5.card-title{
        font-size: 1.6rem;
        width: 72%;
    
    }
    .academicPrograms .gridLayout .card .card-img-overlay {
    padding: 2rem;
}
    .ourVision .imagesContainer .img-container:first-child::before {
        right: -3.8rem;
        height:100%;
        width:100%;
    }
    .ourStory {
        padding-right: 4rem;
    }
    .ourVision .imagesContainer {
        padding-right: 3rem;
    }
    .heroBanner {
        height: 94vh;
    
    }
    .heroBanner .slide h1 {
       font-size: 4.5rem;
       line-height:5.625rem;
    }
    .heroBanner .slide h1 span:first-child::before {
    width: 10rem;
    bottom: 0rem;
    right: 9rem;
    height: .3rem;
}
}
@media(min-width:1400px){
    .academicPrograms .topSection h1,
    .eservicesSection .topSection h1 {
        font-size: var(--appTitleFontSizeDesk);
        width: 63%;
        line-height: 1.4;
    }
    .ourStory .sectionTitle ,.openData h1.title span, .latestNews h1.title span{
        font-size: var(--appTitleFontSizeDesk);
	line-height:3.75rem;
    }
}
@media(min-width:1600px){
    :root{
            --appTitleFontSizeDesk: 2.25vw;
    }
     .latestNews .nav-pills li .nav-link {
        padding: 0.6vw 1.6vw;
        font-size: 1vw;
    }
    .eservicesSection .tab-content .tab-pane .col-lg-3 .card .card-body {
    padding: 2.7vw 1vw .7vw;
}
    .ourVision{
     padding-top:0;
    }
    .nbuToolbar .user{
        padding:0.9vw 1vw;
    }
    header{
        top:3.5vw;
        padding-top:1vw;
        padding-bottom:1vw;
    }
    .nbuToolbar .tools .language{
        padding:.9vw 1vw
    }
    .nbuToolbar .tools .language span, .nbuToolbar .user span{
        margin-right:.5vw;
    }
    .nbuToolbar .tools .language .icon{
        height:1vw;
        width:1vw;
    }
    .nbuToolbar .tools .accessibility img{
        
padding: 0 0.6vw;
    }
        .ourVision .discoverOurStory, .academicPrograms p.sectionTitle, .eservicesSection p.sectionTitle {
        font-size: 1.25vw;
	line-height:1.875vw;
    }
        .academicPrograms .gridLayout .card .card-img-overlay {
        padding: 2vw;
    }
        .academicPrograms .gridLayout .card .card-img-overlay .icon {
            padding: 0.9vw;
            height: 2.6vw;
            width: 2.6vw;
        }
        .latestNews .col-lg-4 .card .card-img-overlay {
        top: 14.6vw;
    }
    .eservicesSection .tab-content .tab-pane .col-lg-3 .card .card-footer a.startService{
        font-size:1vw;
    }
    .eservicesSection .tab-content .tab-pane .col-lg-3 .card .card-body p.card-text{
        font-size:.75vw;
    }
    .eservicesSection .tab-content .tab-pane .col-lg-3 .card .card-body h5{
        font-size:1vw;
    }
        .latestNews .col-lg-4 .card .card-img-top {
        height: 16vw;
        }
        .latestNews .col-lg-4 .card .card-img-overlay span {
        font-size: 1vw;
    }
        .latestNews .col-lg-4 .card .card-body h4 {
        font-size: 1vw;
    }
        .latestNews .col-lg-4 .card .card-body {
        padding: 2vw 2vw 1vw;
	min-height:8.4vw;
    }
    .academicPrograms .gridLayout .card .card-img-overlay .learnMore {
    padding: .6vw 1.5vw;
    border-radius: 2vw;
}
    .academicPrograms .gridLayout .card:first-child .card-img-overlay h5.card-title{
        font-size:1.3vw;
    }
    .academicPrograms .gridLayout .card .card-img-overlay h5.card-title{
font-size:1.3vw;
    }
    .openData .data-slide div.icon {
        margin-left: 1vw;
        height: 3.5vw;
        width: 3.5vw;
        transform: translateY(-0.6vw);
    }
    .openData .data-slide p.statDescription{
        font-size:1.2vw;
    }
    .openData .data-slide h2 span{
        font-size:2vw;
    }
        .ourVision .imagesContainer .img-container:first-child::before {
                top: 18vw;
        right: -18vw;
        width: 30vw;
        height: 30vw;
    }
    .ourVision .imagesContainer .img-container:last-child::before {
        top: 3.4vw;
        height: 28vw;
        position: absolute;
        border-radius: .5vw;
    }
    .ourVision .imagesContainer .img-container:first-child {
        height: 23vw;
        width: 17vw;
    }
     .ourVision .imagesContainer .img-container:last-child {
        right: 13vw;
        top: 0vw;
        height: 30vw;
        width: 19vw;
    }
    .heroBanner .slide h1 {
        font-size: 3.75vw;
	line-height:4.5vw;
    }
}
