html,
body {
    text-align: left;
}
.table-responsive thead tr th:last-child{
text-align:left;
}

header .navbar .search {
    right: 2rem;
    left: auto;
}

header .navbar .mainmenu {
    margin-right: 0;
}
/*
section.mainMenu {
    right: -200%;
    left: auto;
}

section.mainMenu.visible {
    right: 0;
    left: auto;
}
*/
section.mainMenu .logos img:first-child {
    border-left: none;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.7rem .7rem 0.7rem 0rem;
}

.quicklaunchContainer {
    left: -3.5rem;
    right: auto;
    animation: 1s fadeLeft forwards;

}

.quickLaunchItems a.item span {
    padding: 0.8rem 1.7rem 0.8rem 4.7rem;
}

.quickLanchMenu svg.closeQuickLaunch {
    left: 1.5rem;
}

.quickLanchMenu svg {
    left: 1.6rem;
}

.nbuToolbar .tools .accessibility img {
    border-left: 1.7px solid rgba(255, 255, 255, .3);
    border-right: 0;
}

.nbuToolbar .tools .language span,
.nbuToolbar .user span {
    margin-left: .5rem;
    margin-right: 0;
}

header .navbar .navbar-brand img.accreditedLogo {
    border-left: 1px solid rgb(255, 255, 255, 0.3);
    border-right: 0!important;
    padding-left: 1rem;
    padding-right: 0;
}
header.scroll .navbar .navbar-brand img.accreditedLogo, header.search-open .navbar .navbar-brand img.accreditedLogo, body:not(.path-frontpage) #page header .navbar .navbar-brand img.accreditedLogo {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
}
header .navbar .navbar-brand img {
    padding-right: 1rem;
    padding-left: 0;
}

.shortcutContainer {
    left: -100%;
    right: auto;
}

.shortcutContainer.visible {
    left: -55%;
    right: auto;
}

.shortcutContainer.visible .quickLaunchItems a.item:nth-child(1) {
    transform: translateX(95%);
}

.shortcutContainer.visible .quickLaunchItems a.item:nth-child(2) {
    transform: translateX(108%);
}

.shortcutContainer.visible .quickLaunchItems a.item:nth-child(3) {
    transform: translateX(95%);
}

.accessibilityMenu {
    border-top-right-radius: 2rem;
    border-top-left-radius: 0;
    left: -200%;
    right: auto;
}

.accessibilityMenu.active {
    opacity: 1;
    left: 0;
    right: auto;
    z-index: 6;
}

.accessibilityMenu .closeMenu {
    left: auto;
    right: 2rem;
}

footer .copyrightSection .stamps img:first-child {
    margin-right: 1.5rem;
    margin-left: 0;
}

header.scroll .navbar .navbar-brand img.accreditedLogo,
header.search-open .navbar .navbar-brand img.accreditedLogo {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: none;
}

.accessibilityMenu .menuBody .sectionsubTitle .icon {
    margin-right: .7rem;
    margin-left: 0;
}

.accessibilityMenu .menuBody .col-sm-6:nth-child(2n+1) {
    padding-right: 0.5rem;
    padding-left: 0;

}

.accessibilityMenu .menuBody .col-sm-6:nth-child(2n+2) {
    padding-left: 0.5rem;
    padding-right: 0;

}

footer .quickLinks,
footer .uniSocialIcons,
footer .downloadApp {
    transform: translateX(100%);
}

section.mainMenu .col-lg-3 button.bg-transparent.border-0 svg {
    transform: scaleX(-1);
}

section.mainMenu a.mobile-log-in .icon {
    margin-right: 0.7rem;
    margin-left: 0;
    background-position: right;
}

section.mainMenu .closeMenu {
    left: auto;
    right: 0;
}

.ourVision .tab-pane .card .icon {
    margin-right: .7rem;
    margin-left: 0;
}

footer .copyrightSection .copyrightText {
    transform: translateX(100%);
}

.languages-popup {
    left: 1rem;
    right: auto;
}

.languages-popup .languages-list a.language.active::before {
    right: 1rem;
    left: auto;
}
section.mainMenu a.mobile-log-in{
    background-image:url("../media/eng.png");
}
@media(min-width:992px) {
    .accessibilityMenu .closeMenu {
        right: -4rem;
    }
    .shortcutContainer.visible {
    left: -14%;
}
    header .navbar .search {
        right: unset;
        left: unset;
        margin-left: 1rem;
    }

    footer .uniSocialIcons {
        margin-right: 2rem;
        margin-left: 0;
        width: auto;
        padding-left: 0rem;
        padding-right: 0;
    }

    footer h5.category::after {
        left: 0;
        right: auto;
    }
    .quicklanchContainer{
     top:52%;
    }
}

